
/* DRAWER */
section[data-type="sidebar"] > nav > ul {
    margin: 0;
    padding: 0;
    background-color: black;
    bottom: 0px;
    height: 100%;
    border-right-style: solid;
    border-right-color: #F97C17;
    border-right-width: 5px;
	/* Firefox */
	width: -moz-calc(100% + 2px);
	/* WebKit */
	width: -webkit-calc(100% + 2px);
	/* Opera */
	width: -o-calc(100% + 2px);
	/* Standard */
	width: calc(100% + 2px);
    
}


/* Enlace Activo */
section[data-type="sidebar"] > nav > ul > li:active {
    background-color: #00ABCC;
}



/* Cada enlace del Drawer */
section[data-type="sidebar"] > nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    line-height: 3.35rem;
    border-bottom: 0.1rem solid #596068;
    text-indent: 3rem;
    padding-right: 0.8rem;
    -moz-box-sizing: border-box;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}


.drawer {
    top: 4rem;
    bottom: 0px;
	/* Firefox */
	height: -moz-calc(100% - 5rem);
	/* WebKit */
	height: -webkit-calc(100% - 5rem);
	/* Opera */
	height: -o-calc(100% - 5rem);
	/* Standard */
	height: calc(100% - 5rem);
}